.map {
    width: 100%;
    min-height: 100px;
    height: calc(100% - 50px);
    background: #999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

h5 {
    background: #fff;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 10px 20px;
    span {
        font-weight: normal;
        font-size: .95em;
    }
}

:host /deep/ {
    .location-marker {
        width: 18px;
        height: 18px;
        background: rgba(255,255,255,.8);
        box-shadow: 3px 3px 5px rgba(0,0,0,.5);
        border-radius: 50px; 
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            background: red;
            border-radius: 50px; 
            
        }
    }
}